# Environment files
.env

patients_node1.csv
patients_node2.csv
patients_node3.csv
patients_node4.csv

# variable files
*.csv
*.tsv
*.json

# These folders contain temporary files
__pycache__/
logs/
node_logs/
node_log/
testfolder/
memory-bank/

# Temporary scripts
demo_agentic.py
check_api.py
diagnose_pydantic_ai.py

# Temporary markdown files and folder and session memory
markdown/*
claude_session_memory.md
description.md
MEMORY.md
intent_classifier.md
guardrail_architecture.md

# Temporary word files
documents/*